<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

    <title>Document</title>
</head>

<body>
    <div id="app">
        <button @click="fn1">普通</button>
        <button @click="fn2">set</button>
        <li v-for="(item,ind) in arr" :key="ind">
            {{item}}
        </li>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                arr: [
                    'a', 'b', 'c', 'd'
                ]
            },
            methods: {
                fn1() {
                    this.arr[1] = "blue"
                },
                fn2(){
                    this.$set(this.arr,1,"blue")
                }
            }

        })
    </script>

    <!-- <div id="app">
            <button @click="fn1">普通设置</button>
            <button @click="fn2">$set设置</button>
            <li v-for="(item,index) of arr" :key="index">          
                {{ item }}
            </li>
        </div>
        
        <script>
        new Vue({
            el:"#app",
            data:{
                arr : [
                    "a", "b", "c", "d"
                ]
            },
            methods:{
                fn1(){
                    this.arr[1] = "blue";
                }
                fn2(){
                    this.$set(this.arr, 1, "blue");
                }
            }
        })
        </script> -->
</body>

</html>