<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

    <title>Document</title>
</head>

<body>
    <div id="app">
       <input v-model="a">+<input v-model="b">=<span>{{c}}</span>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                a:1,
                b:2,
                c:4
            },
          watch:{
            a(val){this.c=Number(val)+Number(this.b)},
            b(del){this.c=Number(this.a)+Number(del)}
             
          }

        })
    </script>


</body>

</html>